remote_theme: https://github.com/SourLemonJuice/minima-for-SourLemonJuice@stable

title: SourLemonJuice-blog
url: "https://sourlemonjuice.github.io"
# <url><baseurl>/pages/xxx.html
# If on GitHub Pages, it will provided by cli: bundle exec jekyll build --baseurl "/SourLemonJuice-blog"
# No need to set here
#baseurl: "/SourLemonJuice-blog"
# 需要排除的文件 [DIR, FILE, ...] 记得加上所有不以 '_' '.' 开头的文件和文件夹
# Gemfile 与 Gemfile.lock 会被默认忽略
exclude: ["README.md", "docs/", "Dockerfile", "compose.yaml", "*.sh"]
encoding: utf-8
timezone: Asia/Shanghai
lang: en

description: A blog of 酸柠檬猹/SourLemonJuice. Trying to be a gentle and understanding person.

author:
  name: "酸柠檬猹/SourLemonJuice"
  email: "SourLemonJuice233@outlook.com"

plugins:
  - jekyll-remote-theme
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-last-modified-at
  - jekyll-redirect-from
  - jekyll-minifier
  # 注意: "网站地图" 需要在其他 "有生成文件功能" 的插件执行后生成
  # 默认情况下最后被需求的插件会被最后执行，所以一定要保持这行配置是插件序列中的最后一项
  - jekyll-sitemap

# Enable ES6
jekyll-minifier:
  uglifier_args:
    harmony: true

webmaster_verifications:
  google: 8LopVjCQclgmLdixaxx9rqAB55ji9yoRrtL5TZapDDM
  bing: BC0CFA01D203CF6FDE0923D19DA3EFEE

# Some analytics tools added by myself
analytics:
  google_analytics: true

feed:
  excerpt_only: true

minima:
  skin: auto
  # Time format: https://zh.wikipedia.org/wiki/ISO_8601
  date_format: "%FT%R%z"
  date_format_no_hour: "%F"
  privacy_dialog: true
  social_links:
    - title: GitHub Profile
      icon: github
      url: "https://github.com/SourLemonJuice"
    - title: Mastodon.social
      icon: mastodon
      url: "https://mastodon.social/@SourLemonJuice"
    - title: Twitter/X
      icon: x-twitter
      url: "https://x.com/BitterCharChar"
    - title: Bluesky
      icon: bluesky
      url: "https://bsky.app/profile/sourlemonjuice.bsky.social"

  contacts:
    - text: "SourLemonJuice.net"
      url: "https://SourLemonJuice.net"

  # minima 顶部的连接
  nav_pages:
    - "pages/about.md"
    - "pages/contacts.md"
    - "pages/archives.html"

# Default front-matter
defaults:
  # all the pages(not posts)
  - scope:
      path: "pages/"
      type: pages
    values:
      layout: page
      # 抱歉，请仔细看这里: https://jekyllrb.com/docs/permalinks/#pages
      # permalink: "/:path/:basename"
      creative_commons:
        ShortName: CC BY 4.0
        URL: "https://creativecommons.org/licenses/by/4.0/"
  # For private pages...
  - scope:
      path: "pages/secret-maybe/"
      type: pages
    values:
      layout: page
      # permalink: "/about/secret/:basename"
      noindex: true
      creative_commons:
        ShortName: CC BY-ND 4.0
        URL: "https://creativecommons.org/licenses/by-nd/4.0/"
  # posts v1
  - scope:
      path: "posts/"
      type: posts
    values:
      layout: post
      # 不要在 Github pages 上用短名称，似乎并不能识别，应该是版本太旧的问题
      # 就是这个: https://jekyllrb.com/docs/permalinks/#built-in-formats
      permalink: "/:categories/:year/:month/:day/:title"
      creative_commons:
        ShortName: CC BY 4.0
        URL: "https://creativecommons.org/licenses/by/4.0/"
  # 配置语言信息
  # 注意: 记得给 "pages" 单独写标签，它们还是单独管理的好(有些页面本身也不是中文2333)
  - scope:
      path: "posts/简体中文/"
      type: posts
    values:
      lang: zh-Hans
  # posts v2
  # 主旨大概就是弱化时间和语言概念吧，大概
  - scope:
      path: "posts2/"
      type: posts
    values:
      layout: post
      permalink: "/:slugified_categories/:month/:title"
      lang: zh-Hans
      creative_commons:
        ShortName: CC BY 4.0
        URL: "https://creativecommons.org/licenses/by/4.0/"
